<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create-floor.component.css">
</head>
<body>
    <div class="container">
        <h1>Create a New Floor</h1>
        <form (ngSubmit)="createFloor()">
            <div class="form-group">
                <label for="building">Building:</label>
                <select id="building" name="building" class="form-control" [(ngModel)]="floor.buildingId" required>
                  <option *ngFor="let building of buildings$ |async" [value]="building.id">{{ building.code }}</option>
                </select>
                <label for="number">Floor Number:</label>
                <input type="text" id="number" name="number"  [(ngModel)]="floor.number" required>
                <label for="description">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="floor.description" rows="4" required></textarea>
            </div>

            <button type="submit">Create Floor</button>
        </form>
    </div>
</body>
</html>
