<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create-building-connection.component.css">
</head>
<body>
    <div class="container">
        <h1>Create a New Building Connection</h1>
        <form (ngSubmit)="loadFloors()">
            <div class="form-group1" [ngClass]="{'off':menuBuilding}">
                <label for="building1">Building1:</label>
                <select id="building1" name="building1" class="form-control" [(ngModel)]="buildingId1" required>
                  <option *ngFor="let building of buildings$ |async" [value]="building.id">{{ building.code }}</option>
                </select>
                <label for="building2">Building2:</label>
                <select id="building2" name="building2" class="form-control" [(ngModel)]="buildingId2" required>
                  <option *ngFor="let building of buildings$ |async" [value]="building.id">{{ building.code }}</option>
                </select>
                <div id = "submit" style="text-align: center; padding: 10px;"><button type="submit" (click) = "toggleBoth()">Choose Buildings</button></div>
            </div>

        </form>

        <form (ngSubmit)="createBuildingConnection()">

            <div class="form-group2" [ngClass]="{'on':menuFloors}">
                <label for="floor1">Floor1:</label>
                <select id="floor1" name="floor1" class="form-control" [(ngModel)]="buildingconnection.floor1Id" required>
                  <option *ngFor="let floor of floors1$ |async" [value]="floor.id">{{ floor.number }}</option>
                </select>
                <label for="floor2">Floor2:</label>
                <select id="floor2" name="floor2" class="form-control" [(ngModel)]="buildingconnection.floor2Id" required>
                  <option *ngFor="let floor of floors2$ |async" [value]="floor.id">{{ floor.number }}</option>
                </select>
                <label for="description">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="buildingconnection.description" rows="4" required></textarea>
                <div id = "submit" style="text-align: center; padding: 10px;"><button type="submit" (click) = "toggleBoth()">Create Building Connection</button></div>
            </div>

        </form>
    </div>
</body>
</html>
