<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="edit-elevator.component.css">
</head>
<body>
    <div class="container">
        <h1>Edit Elevator</h1>
        <form (ngSubmit)="toggleElevator()" >
        <div class="form-group" [ngClass]="{  'off': menuBuilding }" >
          <label for="building">Building:</label>
          <select id="building" name="building" class="form-control" [(ngModel)]="buildingId" required>
            <option *ngFor="let building of buildings$ |async" [value]="building.id">{{ building.code }}</option>
          </select>
          <div id="submit" style="text-align: center; padding: 10px;"><button type="submit">Choose Building</button></div>
        </div>
        </form>
        <form (ngSubmit)="toggleEdit()" >
          <div class="form-group2" [ngClass]="{  'on': menuElevator }">
          <label for="elevator">Elevator:</label>
          <select id="elevator" name="elevator" class="form-control" [(ngModel)]="elevator.id" required>
            <option *ngFor="let elevator of elevators$ |async" [value]="elevator.id">{{ elevator.code }}</option>
          </select>
          <div id="submit" style="text-align: center; padding: 10px;"><button type="submit">Edit Elevator</button></div>
          </div>
        </form>
        <form (ngSubmit)="editBuilding()">
            <div class="form-group4" [ngClass]="{  'on': menuEditBuilding }">
                <label for="building">Building:</label>
                <select id="building" name="building" class="form-control" [(ngModel)]="elevator.buildingId" required>
                    <option *ngFor="let building of buildings$ |async" [value]="building.id">{{ building.code }}</option>
                </select>
                <div id="submit" style="text-align: center; padding: 10px;"><button type="submit">Choose Building</button></div>
            </div>
        </form>
        <form (ngSubmit)="editFloors()">
          <div class="form-group5" [ngClass]="{  'on': menuEditFloors }">
            <label>Floors:</label>
              <div *ngFor="let floor of floors">
                  <label>
                    <input type="checkbox" [(ngModel)]="floor.isChecked" [ngModelOptions]="{standalone: true}"> {{ floor.number }}
                  </label>
              </div>
            <div id="submit" style="text-align: center; padding: 10px;"><button type="submit" (click)="extractCheckedFloorIds()">List Floor</button></div>
          </div>
        </form>
        <form (ngSubmit)="editElevator()" >
          <div class="form-group3" [ngClass]="{  'on': menuEdit }">
            <label for="code">Elevator Code:</label>
            <input type="text" id="code" name="code" [(ngModel)]="elevator.code" required>

            <label for="brand">Elevator Brand:</label>
            <input type="text" id="brand" name="brand" [(ngModel)]="elevator.brand" required>

            <label for="model">Elevator Model:</label>
            <input type="text" id="model" name="model" [(ngModel)]="elevator.model" required>

            <label for="serialNumber">Elevator Serial Number:</label>
            <input type="text" id="serialNumber" name="serialNumber" [(ngModel)]="elevator.serialNumber" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="elevator.description"  required></textarea>

          <button type="submit" id="next" style="float: right;">Edit Floor</button>
        </div>
      </form>
    </div>
</body>
</html>
