*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 0px 20px;
}

a:hover{
  background-color: rgba(255,255,255,.3);
}
nav{
  background-color: black;
  height: 50px;

}
ul#principal-ul{
  background-color: blue;
  width: 90%;
  margin: auto;
}

.li-p{
  line-height: 50px;
  float: left;
}

ul li ul  li{
  background-color: black;
}

.floor-opts{
  display: none;
}

.floor-opts.on{
  display: block;
}

.building-opts{
  display: none;
}

.building-opts.on{
  display: block;
}

.building-connection-opts{
  display: none;
}

.building-connection-opts.on{
  display: block;
}

.elevator-opts{
  display: none;
}

.elevator-opts.on{
  display: block;
}

.room-opts{
  display: none;
}

.room-opts.on{
  display: block;
}