<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    
</head>
<body>
    <header class="taskbar">
        <nav>
            <ul id="principal-ul">
                <li class="li-p"><a routerLink="">Home</a></li>
                <li class="li-p"><a routerLink="auth/sign-in">Login</a></li>
                <li class="li-p">
                    <a (click)="toggleMenuBuildings()">Building <img src="../assets/arrow.png"  width="10"></a>
                    <ul class="building-opts" [ngClass]="{  'on': menuBuildings }">
                      <li><a routerLink="buildings">Create</a></li>
                    </ul>
                </li>
                <li class="li-p">
                  <a (click)="toggleMenuFloors()">Floor <img src="../assets/arrow.png"  width="10"></a>
                  <ul class="floor-opts" [ngClass]="{  'on': menuFloors }">
                    <li><a routerLink="create-floor">Create</a></li>
                    <li><a routerLink="list-floors">List</a></li>
                    <li><a routerLink="list-floors-with-connections">List With Connections</a></li>
                    <li><a routerLink="edit-floor">Edit</a></li>
                  </ul>
                </li>
                <li class="li-p">
                  <a (click)="toggleMenuBuildingConnections()">Building Connection <img src="../assets/arrow.png"  width="10"></a>
                  <ul class="building-connection-opts" [ngClass]="{  'on': menuBuildingConnections }">
                    <li><a routerLink="create-building-connection">Create</a></li>
                  </ul>
              </li>
              <li class="li-p">
                <a (click)="toggleMenuElevators()">Elevator <img src="../assets/arrow.png"  width="10"></a>
                <ul class="elevator-opts" [ngClass]="{  'on': menuElevators }">
                  <li><a routerLink="create-elevator">Create</a></li>
                </ul>
            </li>
            </ul>
        </nav>
    </header>
    <router-outlet></router-outlet>
</body>
</html>
